body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f06, #48f);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
button {
    background-color: #fff;
    color: #4169e1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #f0f8ff;
}
.message, .author {
    margin-top: 30px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.author {
    font-size: 14px;
    color: #fff;
}
.product-link {
    text-align: center;
    margin-top: 20px;
}

.product-link p{
    margin-top: 30px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.product-link p :hover {
    text-decoration: underline;
}
